<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Desktop-->
    <add key="dbConnection" value="server=236PCWIN11\SQLEXPRESS;database=distroTrends;uid=sa;password=Password@123;" />
    <!--Laptop-->
    <!--<add key="dbConnection" value="server=236LTAWIN10\SQLEXPRESS;database=distroTrends;uid=sa;password=sqladmin;" />-->
  </appSettings>
</configuration>